<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>bharath</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>amma</servlet-name>
    <servlet-class>tharun.kumar</servlet-class>
  </servlet>
  <context-param>
    <param-name>city</param-name>
    <param-value>mysore</param-value>
  </context-param>
  <context-param>
    <param-name>state</param-name>
    <param-value>karnataka</param-value>
  </context-param>
  <servlet-mapping>
    <servlet-name>amma</servlet-name>
    <url-pattern>/yuvatej</url-pattern>
  </servlet-mapping>
</web-app>